{{#each songs}}
  <div class="card card-body">
    <h4>{{title}}</h4>
    <p><strong> Artist: </strong> {{artist}}</p>
    <p><strong>Key: </strong> {{songKey}}</p>
    <a class="btn btn-dark mb-2" href="/songs/edit/{{id}}">Edit</a>
    <form method="post" action="/songs/{{id}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-danger btn-block" value="Delete">
    </form>
  </div>
{{else}}
  <p>No songs listed</p>
{{/each}}